/* .navitems{
  padding: 0.25rem 0;
  display: inline-block;
  margin: 0 3rem;
  color: white;
  text-decoration: none;
}
Link{
    padding-left: 6px;
    padding-right: 8px;
}
.navbar{
    background-color: rgba(0, 128, 126, 0.978);
    position: fixed;
    margin-bottom: 1rem;
    top: 0;
    width: 100%;
    text-align: center;
    border: 2px solid green;
} */